body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  background-color: #fbfae3;
  color: #008080;

}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.melodrama {
  font-family: 'Melodrama', serif;
}
